<!DOCTYPE html>
<html>
<head>
    <title>View Products</title>
</head>
<body>
    <h1>Products</h1>
    <table border="1">
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Total Sales</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product["Product ID"] }}</td>
            <td>{{ product["Product Name"] }}</td>
            <td>{{ product["Category"] }}</td>
            <td>${{ product["Price"] }}</td>
            <td>{{ product["Stock"] }}</td>
            <td>{{ product["Total Sales"] }}</td>
            <td>
                <button onclick="updateStock('{{ product["Product ID"] }}')">Sell</button>
                <a href="{{ url_for('delete_product', product_id=product["Product ID"]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
